openapi: 3.0.1
info:
  title: Google Sheets DB API
  description: API לניהול מסד נתונים בגוגל שיטס באמצעות Google Apps Script.
  version: '1.0'
servers:
  - url: 'https://script.google.com/macros/s/AKfycbygTx0kTsc7OS25PSXOIdMnNy3_1YeVPPJ7pHkRZgNxXeiJDtdT11C6GPoo9EaJj3VXvA/exec'
paths:
  '/':
    get:
      summary: קבלת נתונים מהגיליון
      operationId: getRows
      parameters:
        - in: query
          name: sheet
          required: false
          schema:
            type: string
          description: שם הגיליון (ברירת מחדל 'DB')
      responses:
        '200':
          description: הצלחה
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  sheet:
                    type: string
                  rows:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: string
    post:
      summary: עריכת נתונים בגיליון (הוספה / עדכון / מחיקה)
      operationId: modifyRows
      parameters:
        - in: query
          name: sheet
          required: false
          schema:
            type: string
          description: שם הגיליון (ברירת מחדל 'DB')
        - in: query
          name: method
          required: true
          schema:
            type: string
          description: סוג הפעולה ('add', 'update', 'delete')
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                phone:
                  type: string
                interest:
                  type: string
      responses:
        '200':
          description: הצלחה
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  sheet:
                    type: string
                  data:
                    type: object
                    additionalProperties:
                      type: string
